*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
.logo-title
{
    display: flex;
    align-items: center;
    
}
h1
{
    font-size: 24px;
    color: #fcefdf;
  
}
header
{
    background-color: #e1827c;
    color: #fcefdf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:5px;
    gap: 300px;
}
nav a{
    text-decoration: none;
    color: #fcefdf;
    font-size: 18px;
    font-weight:bold;
}
nav ul
{   
   display: flex;
   gap: 50px;
   list-style: none
}
.hero-section
{
    background-color: #e1827c;
    color: #fcefdf;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    gap: 50px;
    padding-bottom: 150px;
}
.main-title
{
    font-size: 48px;
    color: #fcefdf;
    font-weight: 900;
}
.hero-text
{
    width: 500px;
}
.hero-text p{
    font-size: 18px;
    color: #fcefdf;
    font-weight: 500;
}
button
{
    background-color: #324323;
    color: #fcefdf;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    width: 120px;
}
.hero-text button{
    border: 0px;
    margin-top: 20px;
    font-weight: 500;
}
.info
{
    padding-bottom: 130px;
}
h3
{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}
.image-container
{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.image-container img
{
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}
.imgcon
{
    width: 160px;
    color: rgb(87, 83, 83);
    font-weight: 500;
    text-align: center;
}
.quote-section
{
    background-color: #e5e7eb;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
blockquote p
{   font-style: italic;
    max-width: 780px;
    font-weight: 200;
}
blockquote cite
{   display: block;
    text-align: right;
    font-size: 28px;
    font-style: normal;
}
.cta
{   display: flex;
    background-color: #3882f6;
    color: white;
    width: 900px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 40px;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;
}
.cta button
{
    border-color: white;
    font-size: 22px;
    width: 120px;
    height: 38px;
}
footer
{
    background-color: #1f2937;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}