*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1
{
    font-size: 24px;
}
header
{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    
}
nav a{
    text-decoration: none;
    color: #efe7eb;
}
nav ul
{
   display: flex;
   gap: 50px;
   list-style: none
}