*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
}
h1
{
    font-size: 24px;
    color: #f9faf8;
}
header
{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    
}
nav a{
    text-decoration: none;
    color: #efe7eb;
    font-size: 18px;
}
nav ul
{   
   display: flex;
   gap: 50px;
   list-style: none
}

.hero-section
{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    gap: 120px;
    padding-bottom: 150px;
   
}
.main-title
{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-text
{
    width: 450px;
}
.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}
button
{
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    width: 120px;
}
.hero-text button{
    border: 0px;
    margin-top: 10px;

}
h3
{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}