*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
}
h1
{
    font-size: 24px;
    color: #f9faf8;
}
header
{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    
}
nav a{
    text-decoration: none;
    color: #efe7eb;
    font-size: 18px;
}
nav ul
{   
   display: flex;
   gap: 50px;
   list-style: none
}

.hero-section
{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    gap: 120px;
    padding-bottom: 150px;
   
}
.main-title
{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-text
{
    width: 450px;
}
.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}
button
{
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    width: 120px;
}
.hero-text button{
    border: 0px;
    margin-top: 10px;

}
.info
{
    padding-bottom: 130px;
}
h3
{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}
.image-container
{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.image-container img
{
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}
.imgcon
{
    width: 160px;
    color: rgb(87, 83, 83);
    font-weight: 500;
    text-align: center;
}
.quote-section
{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
  
blockquote p
{   font-style: italic;
    max-width: 780px;
}
blockquote cite
{   display: block;
    text-align: right;
    font-size: 28px;
    font-style: normal;
}
.cta
{   display: flex;
    background-color: #3882f6;
    color: white;
    width: 900px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 40px;
    justify-content: space-around;
   
}
.cta button
{
    border-color: white;
    
}